@model VTT.Models.Entities.Character

@{
    ViewData["Title"] = "Details";
    Layout = "_LayoutForms";
}

<h1>@Model.name Details</h1>
<dd class="col-sm-5">
    @Html.DisplayFor(model => model.CreationDate)
</dd>
<hr />
<div style="display:flex; flex-direction:row;"> 
    <div style="width:33%;">
    <h4>Informations</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.sex)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.sex)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.age)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.age)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.race)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.race)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.social_standing)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.social_standing)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.homeland)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.homeland)
        </dd>
    </dl>
    </div>
    <div style="width:33%;">
    <h4>Statistics</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.intelligence)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.intelligence)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.reflex)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.reflex)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.dexterity)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.dexterity)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.body)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.body)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.empathy)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.empathy)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.craft)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.craft)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.will)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.will)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.luck)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.luck)
        </dd>
    </dl>
    </div>
    <div style="width:33%;">
    <h4>Derived Statistics</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.hp)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.hp)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.run)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.run)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.speed)
        </dt>
        <dd class="col-sm-5">
            @Html.DisplayFor(model => model.speed)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.leap)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.leap)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.stun)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.stun)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.stamina)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.stamina)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.recovery)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.recovery)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.encumbrance)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.encumbrance)
        </dd>
    </dl>
    </div>
</div>
